# env files
.
.env
.env.*
!.env.example

# Dependency directories
node_modules
.pnp
.pnp.js

# Testing
coverage

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log

# Builds
dist*
build
.next
out
.svelte
**/*.min.*
.astro

# Personal
ideas.md

# Cloudflare
.mf
.wrangler
.dev.vars
**/functions/\[\[path\]\].js*

# Supabase
**/supabase/.branches
**/supabase/.temp

# Remix
.cache

# Turborepo
.turbo

# # Vercel
# .vercel

# # Contentlayer
# .contentlayer

# ThemingLayer
.tl

# Tooling
.vscode
.eslintcache
.rollup.cache
*.tsbuildinfo

# Misc
.DS_Store
*.pem

# Generated
*.gen.*