---
// this can be generated from token files with a custom plugin
export interface ButtonVariants {
  tone?: 'accent' | 'critical'
  visual?: 'filled' | 'outline'
  disabled?: boolean
}

type Props = ButtonVariants

const {
  tone = 'accent',
  visual = 'filled',
  disabled = false,
  ...props
} = Astro.props
---

<button
  class='tl-button'
  data-tone={tone}
  data-visual={visual}
  disabled={disabled}
  type='button'
  {...props}
>
  <span class='tl-button-label'> <slot /></span>
</button>
