---
import { Button as ButtonReact } from '~/components/button/Button'
import Button from '~/components/button/Button.astro'

import '~/styles/global.css'
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width,initial-scale=1,shrink-to-fit=no'
    />
    <title>ThemingLayer Demo</title>
  </head>
  <body>
    <main
      class='tl-bg-surface tl-typography-body tl-px-80-px tl-py-32-px tl-min-h-screen tl-text-neutral-primary'
    >
      <details open=''>
        <summary>Theme</summary>
        <div>
          <div class='tl-mt-8-px'>
            <div>Color scheme:</div>
            <input
              type='radio'
              id='color-scheme-light'
              name='color-scheme'
              value='light'
              checked
            />
            <label class='tl-ml-4-px' for='color-scheme-light'>Light</label><br
            />
            <input
              type='radio'
              id='color-scheme-dark'
              name='color-scheme'
              value='dark'
            />
            <label class='tl-ml-4-px' for='color-scheme-dark'>Dark</label><br />
          </div>
          <div class='tl-mt-8-px'>
            <div>Contrast:</div>
            <input
              type='radio'
              id='contrast-standard'
              name='contrast'
              value='standard'
              checked
            />
            <label class='tl-ml-4-px' for='contrast-standard'>Standard</label
            ><br />
            <input
              type='radio'
              id='contrast-high'
              name='contrast'
              value='high'
            />
            <label class='tl-ml-4-px' for='contrast-high'>High</label><br />
          </div>
        </div>
      </details>

      <div class='tl-mt-32-px'>HTML buttons</div>
      <div class='tl-mt-16-px tl-gap-12-px tl-flex'>
        <Button tone='accent' visual='filled'>Button</Button>
        <Button tone='accent' visual='outline'>Button</Button>
      </div>
      <div class='tl-mt-24-px tl-gap-12-px tl-flex'>
        <Button tone='critical' visual='filled'>Button</Button>
        <Button tone='critical' visual='outline'>Button</Button>
      </div>
      <div class='tl-mt-32-px'>React buttons</div>
      <div class='tl-mt-16-px tl-gap-12-px tl-flex'>
        <ButtonReact tone='accent' visual='filled'>Button</ButtonReact>
        <ButtonReact tone='accent' visual='outline'>Button</ButtonReact>
      </div>
      <div class='tl-mt-24-px tl-gap-12-px tl-flex'>
        <ButtonReact tone='critical' visual='filled'>Button</ButtonReact>
        <ButtonReact tone='critical' visual='outline'>Button</ButtonReact>
      </div>
      <p class='tl-mt-32-px'>
        Also, use Chrome DevTools and turn on CSS forced-colors: active
        emulation to see the component in forced contrast mode.
      </p>

      <div
        class='theme tl-bg-surface tl-mt-32-px tl-p-24-px tl-text-neutral-primary'
        data-color-scheme='dark'
        data-contrast='high'
      >
        <p>
          This is a section with independent theming, enabled by setting custom
          containerSelector.
        </p>
        <div class='tl-mt-16-px tl-gap-12-px tl-flex'>
          <Button tone='accent' visual='filled'>Button</Button>
          <Button tone='accent' visual='outline'>Button</Button>
        </div>
        <div class='tl-mt-24-px tl-gap-12-px tl-flex'>
          <Button tone='critical' visual='filled'>Button</Button>
          <Button tone='critical' visual='outline'>Button</Button>
        </div>
      </div>
    </main>
    <script>
      if (!CSS.supports('selector(:has(> *))')) {
        ;[...document.querySelectorAll('input[type="radio"]')].forEach(
          (radio) => {
            if (radio.checked) {
              document.documentElement.setAttribute(
                `data-${radio.name}`,
                radio.value
              )
            }

            radio.addEventListener('change', (e) => {
              document.documentElement.setAttribute(
                `data-${e.target.name}`,
                e.target.value
              )
            })
          }
        )
      }
    </script>
  </body>
</html>
