.tl-button {
  align-items: center;
  appearance: none;
  background-color: var(--tl-background-color);
  block-size: var(--tl-height);
  border: var(--tl-border-width) var(--tl-border-style) var(--tl-border-color);
  border-radius: var(--tl-radius);
  box-shadow: var(--tl-box-shadow);
  color: var(--tl-foreground-color);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--tl-font-family);
  font-size: var(--tl-font-size);
  font-weight: var(--tl-font-weight);
  gap: var(--tl-gap);
  justify-content: center;
  letter-spacing: var(--tl-letter-spacing);
  line-height: var(--tl-line-height);
  margin: 0;
  min-inline-size: var(--tl-min-width);
  opacity: var(--tl-opacity);
  outline: var(--tl-outline);
  padding-block: var(--tl-padding-top) var(--tl-padding-bottom);
  padding-inline: var(--tl-padding-left) var(--tl-padding-right);
  position: relative;
  text-align: var(--tl-text-align);
  text-decoration: none;
  transition: var(--tl-transition);
  user-select: none;
}

.tl-button .tl-icon {
  --tl-size: var(--tl-icon-size);
}

.tl-button .tl-spinner {
  position: absolute;
}

.tl-button .tl-spinner .tl-icon {
  --tl-size: var(--tl-spinner-size);

  opacity: 0;
}

.tl-button:--tl-button-pending-true {
  .tl-button-label,
  .tl-icon {
    opacity: 0;
  }

  .tl-spinner .tl-icon {
    opacity: 1;
  }
}

@media (--tl-contrast-pref-forced) {
  .tl-button:--tl-button-intent-primary:--tl-button-visual-filled
    .tl-button-label {
    forced-color-adjust: none;
  }
}
