.tl-touch-target::after {
  block-size: 100%;
  content: '';
  inline-size: 100%;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  min-block-size: var(--tl-size-touch-target-standard);
  min-inline-size: var(--tl-size-touch-target-standard);
  position: absolute;
  transform: translate(-50%, -50%);
}
